<h2 class="text-center"><em>Post details:</em></h2>
<br/>
<p>
	<br/>
	<p class="text-center"><%= @post_detail['content'] %></p>
	<br/>
	<span style="font-size: 80%; color: #555"><p class="text-center">Added at <%= @post_detail['created_date'] %></p></span>
</p>